<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Grid/List View Switcher Demo - Vandelay Design Blog</title>
<link rel="stylesheet" type="text/css" href="listingProductsStyle.css">
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type='text/javascript' src='js/knockout-3.4.2.js'></script>
<script type='text/javascript' src='js/product-listing-knockout-paging.js'></script>

<script type='text/javascript' src='js/js.cookie.js'></script>



</head>

<body>
	<div id="wrap">
		<header>
			<span class="list-style-buttons">
			 <a href="#" id="gridview"	class="switcher" data-bind="click: function(){ $data.changeGridView(); }"> 
			 		<img src="images/grid-view.png" alt="Grid">
			</a> 
			<a href="#" id="listview" class="switcher active" data-bind="click: function(){ $data.changeListView(); }"> 
		 			<img src="images/list-view-active.png" alt="List">
			</a>
			</span>
			<h1>Our Products</h1>
			<div class="pagingamounticons">
			<button class="pageamount" data-bind="click: function(){ setPageSize(15); } , css: { pageamountactive: products.pageSize() == 15 }  ">15</button>
			<button class="pageamount" data-bind="click: function(){ setPageSize(30); }, css: { pageamountactive: products.pageSize() == 30 }  ">30</button>
			<button class="pageamount" data-bind="click: function(){ setPageSize(90); }, css: { pageamountactive: products.pageSize() == 90 }  ">90</button>
			<button class="pageamount" data-bind="click: function(){ setPageSize(180); }, css: { pageamountactive: products.pageSize() == 180 } ">180</button>
			</div>
		</header>
		

		<ul data-bind="foreach: $data.products.pageItems" id="products" class="clearfix list">
			<li class='listproductli clearfix' data-bind="visible: $parent.listView">
				<section class='left'>
		     <!-- ko with: $data.image -->
		     	<img data-toggle="modal" style="cursor: pointer" data-target="#ImageModal" class="thumb dftimglist img-polaroid" id="image" data-bind = "attr: {'src': $data },click: function(){ $parents[1].showfullsizeimage($data); }"/>
		     <!-- /ko --> 
		     <!-- ko if: !$data.image() -->
		  		<img src="images/products/list-default-thumb.png" id="image" alt="default thumb" class="img-polaroid thumb">
		   	 <!-- /ko --> 
					<h3 data-bind="text: $data.name"></h3>
					<span class='meta' data-bind="text: $data.product_id"></span> <br
						class='description'>
					<span class='description' data-bind="text: $data.description"></span>
				</section>

				<section class='right'>
					<span class='darkview'> <a href="#" data-toggle='modal'	data-target='#myModal' class='editBtn' data-bind="click: function(){ $parent.editItem($data); }"> 
					<img href="#" class='grow' src='images/add-to-edit-btn.png' alt='Edit' ></a> 
						<a href="#" class='xBtn'><img class='grow' src='images/read-delete-btn.png' alt='Delete' data-bind="click: function(){ $parent.deleteItem($data); }"></a>
					    <span	class='price' data-bind="text: $data.priceText"></span>
					</span>
				</section>
			</li>		
			
			<li class='gridproductli clearfix' data-bind="visible: !$parent.listView()">
			 <section class='left'>
		    	     <!-- ko with: $data.image -->
	    			<img class="thumb dftgridimglist img-polaroid" id="image" data-bind = "attr: {'src': $data }"/>
			   		 <!-- /ko --> 
			    	 <!-- ko if: !$data.image() -->
			  		<img src="images/products/list-default-thumb.png" id="image" alt="default thumb" class="dftgridimglist thumb img-polaroid">
	   				 <!-- /ko --> 
 			        <h3  data-bind="text: $data.name" class='product_name alwaysOnTop'></h3>
     			    <span class='meta alwaysOnTop' data-bind="text: $data.product_id"></span>
			        </img>
			</section>

			<section class='right'>
					<a class='price'>
				 	   <span class='alwaysOnTopPrice' data-bind="text: $data.priceText"></span>
				    </a>
				    <span class='darkview gridviewCl'>
	 		      	  <a class='editbtngridview' href="#">
        	   			<img type='button' data-toggle='modal' class='grow' alt='Delete' src='images/read-delete-btn.png' data-bind="click: function(){ $parent.deleteItem($data.id); }"/>
         	    		<img type='button' data-toggle='modal' data-target='#myModal' class ='grow darkenimg' alt='Edit' src='images/add-to-edit-btn.png' data-bind="click: function(){ $parent.editItem($data); }"/>
     		 		   </a>
     		 	  	 <a class='gridColumn'>
        	   			 <span class='description' data-bind="text: $data.description"></span>
     			  	  </a>
   			 	   </span>
			 </section>
			</li>
		</ul>
		<!-- paging HTML elements -->
		<div class="pageindexblock">
		<ul class="pagination">

      <li data-bind="css: { disabled: $data.products.isFirstPage() }" class="previous disabled">
        <a href="#" class="button_first" aria-label="First" data-bind="click: products.toFirstPage">
          First
        </a>
      </li>

      <li data-bind="css: { disabled: !$data.products.hasPreviousPage() }" class="previous disabled">
        <a href="#" class="button_previous_next" aria-label="Previous" data-bind="click: products.toPreviousPage">
          Previous
        </a>
      </li>

      <!-- ko foreach: $data.products.pages -->
      <li data-bind="css: { active: $data == $parent.products.pageNumber() }">
        <a href="#" data-bind="text: $data, click: $parent.products.pageNumber.bind($data)"></a>
      </li>
      <!-- /ko -->

      <li data-bind="css: { disabled: ! $data.products.hasNextPage() }" class="next disabled">
        <a href="#"  class="button_previous_next" aria-label="Next" data-bind="click: products.toNextPage">
          Next
        </a>
      </li>

      <li data-bind="css: { disabled: products.isLastPage() }" class="next disabled">
        <a href="#" class="button_last" aria-label="Last" data-bind="click: products.toLastPage">
          Last
         <span class="lastpagenumber"> (<span data-bind="text: products.pageCount()"></span>)</span>
        </a>
      </li>
 	 </ul>
	</div>

		<div class="bs-example">

			<!-- Modal HTML -->
			<div id="myModal" class="modal fade" data-bind="with: $data.updateableItem">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title">Modal Window</h4>
						</div>
						<div class="modal-body">
							<form role="form">
								<div class="form-group">
									<label for="recipient-name" class="control-label">Product name:</label> 
									<input type="text" class="form-control"	id="product-name" data-bind="textInput: $data.name">
								</div>
								<div class="fileinputdiv form-group">
									<span class="imginput">
									     <!-- ko with: $data.image -->
   									     	<img data-toggle="modal" style="cursor: pointer" class="thumb img-polaroid" id="image" data-target="#ImageModal"  data-bind = "attr: {'src': $data },click: function(){ $parents[1].showfullsizeimage($data); }"/>
   									     <!-- /ko --> 
   									     <!-- ko if: !$data.image() -->
									  		<img src="images/products/list-default-thumb.png" id="image" alt="default thumb" class="thumb">
									   	 <!-- /ko --> 
  									  	<input id="fileUpload" class="testclass form-control fileinput"  type="file" data-bind=" event:{change: $data.fileSelect}">
									</span>
								</div>
								<div class="divinlineblock form-group">
									<label for="recipient-name" class="control-label">Product id:</label> 
									<input data-bind="textInput: $data.product_id" type="text" class="form-control" id="product-id">
								</div>
								<div class="form-group" id='pricediv'>
									<label for="recipient-name" class="control-label">Price:</label>
									<input type="number" class="form-control" id="price" data-bind="textInput: $data.price">
								</div>
								<div class="form-group" id='pricediv'>
									<label for="recipient-name" class="control-label">Price:</label>
									<input type="number" class="form-control" id="price" data-bind="textInput: $data.price">
								</div>
								<div class="form-group" id='taxdiv'>
									<label for="recipient-name" class="control-label">Tax:</label>
									<select  class="form-control" id="tax" data-bind="options: $data.productTax , optionsText: 'taxname' ,value: 'id' "></select>
								</div>
								<div class="form-group">
									<label for="message-text" class="control-label">Description:</label>
									<textarea cols="40" rows="4" class="form-control" data-bind="textInput: $data.description" id="description-text"></textarea>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="cancelbutton" data-dismiss="modal">Cancel</button>
							<button id='savebtn' type="button" data-dismiss="modal" class="pageamountbtn" data-bind="click: function(){ $parent.saveItem(); }, enable: $data.canSave">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- Modal Image HTML -->
		<div id="ImageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-bind="with: $data.fullsizeimage">
		  <div class="modal-dialog-responsive">
		    <div class="modal-content">
			     <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        			<img aria-hidden="true" src="images/read-delete-btn.png">
	       			</button>
	       		</div>
		        <div class="modal-body">
		            <img id="modalimage"  class="img-responsive"  data-bind = "attr: {'src': $data }">
		        </div>
		    </div>
		  </div>
		</div>
		
		<footer> &nbsp; </footer>
	</div>
	<script type='text/javascript'>

			  $('#listview').click(function clicklist(){
				  $( "#products" ).removeClass( "grid" );
				  $( "#products" ).addClass( "list" );
			 		 });
			  $('#gridview').click(function clickgrid(){
				  $( "#products" ).removeClass( "list" );
				  $( "#products" ).addClass( "grid" );
		 		 });
			  </script>
	<script type='text/javascript' src='js/product-listing-KO.js'></script>

	
	
</body>
</html>